wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"
mqtt_broker: "192.168.1.100"
mqtt_username: "esp32_living_room"
mqtt_password: "change_me"
mqtt_ca_cert: |
  -----BEGIN CERTIFICATE-----
  <paste ca.crt content>
  -----END CERTIFICATE-----
mqtt_client_cert: |
  -----BEGIN CERTIFICATE-----
  <paste device.crt content>
  -----END CERTIFICATE-----
mqtt_client_key: |
  -----BEGIN RSA PRIVATE KEY-----
  <paste device.key content>
  -----END RSA PRIVATE KEY-----
